.MuiAppBar-colorPrimary.custom-navbar{
    background-color: pink;
    height: 42px;
}

.MuiAppBar-colorPrimary.custom-navbar > div > div{
    padding: 0%;
}

.basket-wrapper{
    flex-grow: 1;
    justify-content: flex-end;
    display: flex;
}

.custom-navbar .custom-title{
    display: flex;
}

.custom-navbar .custom-title .logo{
    width: 40px;
    height: 39px;
    border-radius: 20px;
    margin-top:-20px;
}

.basket-wrapper .custom-basket{
    font-size: 35px;
    margin-top: -10px;
    color:palevioletred;
}

.basket-wrapper strong{
    color:palevioletred;
}


@media only screen and (min-width: 1024px) {
    .MuiAppBar-colorPrimary.custom-navbar{
        background-color:lightblue;
        height:auto;
    }

    
    .custom-navbar .custom-title .logo{
        width: 60px;
        height: 60px;
        border-radius: 30px;
    }

    .basket-wrapper .custom-basket{
        font-size: 40px;
        color:black;
    }


  }
  