.main{
    background-image: linear-gradient(to bottom right, black, grey);
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.svg{
    width: 100%;
    font-size: 100px;
    color: blanchedalmond;
}

.errorMsg{
    font-size: 13px;
}