html {
    scroll-behavior: smooth;
    margin: 0%;
    overflow-x: none;
    overflow-y: visible;
}


body{
    background-color: palevioletred !important;
    margin: 0%;
    overflow-x: none;
    overflow-y: visible;
}

